{% extends 'crains_template.html' %}

{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Base chart
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->
{% include 'headers/header_chartend.html' %} <!-- MUST-->


<style type="text/css">
.graphic { height:400px }
</style>


    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}<br>
    <strong><small>The chart below is interactive: <span style="color:red">click</span> or <span style="color:red">touch</span> to see more.</strong></small></p>

    <div id="graphic" class="graphic">
      {% include 'hcChart.html' %} <!-- MUST -->
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4><strong>Notes</strong></h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
        {% if COPY.labels.credit %}<p class="gfxcredit">{{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
