{% extends 'crains_template.html' %}

{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    hex map
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->
{% include 'headers/header_chartend.html' %} <!-- MUST-->

<script>
var DATA = {{ COPY.data.json() }};
</script>

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}</p>

    <div id="graphic" class="graphic">
      {% include 'hexmap.html' %} <!-- MUST -->
    </div>

<br>

{% if COPY.labels.footnote %}
<div class="footnotes">
    <h4><small><strong>Notes</strong></small></h4>
    <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
</div>
{% endif %}

<div class="footer">
    {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
    {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
</div>

{% endblock content %}
