{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Graphics base
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_mapping.html' %} <!-- adding leaflet -->
{% include 'headers/header_charts.html' %} <!-- adding highcharts -->
{% include 'headers/header_datatables.html' %} <!-- adding datatables -->

{% include 'headers/header_end.html' %} <!-- MUST -->

<script>
var DATA = {{ COPY.data.json() }};

</script>

<style type="text/css">
.graphic { height:350px }

div.mhbar {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid;
  opacity: 0.8;
}
.FIRST {
  background-color: #508ebc;
}
.SECOND {
  background-color: #3d505a;
}
.THIRD {
  background-color: #b4c8df;
}
.FOURTH {
  background-color: #7f919b;
}
.FIFTH {
  background-color: #006aa6;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}
    <small><strong>The charts below are interactive: <span style="color:red">click</span> or <span style="color:red">touch</span> to see more.</strong></small></p>

        <hr class="mhchaps">
        {% if COPY.labels.gfx1 %}<h4><strong>{{ COPY.labels.gfx1|smarty }}</strong></h4>{% endif %}
        <div id="graphic1" class="graphic">
          <img src="fallback.png" alt="[Chart]" class="fallback" />
        </div>

        <hr class="mhchaps">
        {% if COPY.labels.gfx2 %}<h4><strong>{{ COPY.labels.gfx2|smarty }}</strong></h4>{% endif %}
        <div id="graphic2" class="graphic">
          <img src="fallback.png" alt="[Chart]" class="fallback" />
        </div>

        <hr class="mhchaps">
        {% if COPY.labels.gfx3 %}<h4><strong>{{ COPY.labels.gfx3|smarty }}</strong></h4>{% endif %}
        <div id="graphic3" class="graphic">
          <img src="fallback.png" alt="[Chart]" class="fallback" />
        </div>

        <div class="row">
          <div class="col-sm-6">
            <hr class="mhchaps">
            {% if COPY.labels.gfx4 %}<h4><strong>{{ COPY.labels.gfx4|smarty }}</strong></h4>{% endif %}
            <div id="graphic4" class="graphic">
              <img src="fallback.png" alt="[Chart]" class="fallback" />
            </div>
          </div>
          <div class="col-sm-6">
            <hr class="mhchaps">
            {% if COPY.labels.gfx5 %}<h4><strong>{{ COPY.labels.gfx5|smarty }}</strong></h4>{% endif %}
            <div id="graphic5" class="graphic">
              <img src="fallback.png" alt="[Chart]" class="fallback" />
            </div>
          </div>
        </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4><small><strong>Notes</strong></small></h4>
        <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
        {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
    </div>


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            <br>
            {% include 'footers/footer_gfx.html' %}
          </div>
      </div>
    </div>

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.push('js/chart.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
