{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Graphics base
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_charts.html' %} <!-- adding highcharts -->
<script type="text/javascript" src="../../static/js/code/highcharts-more.js"></script>
{% include 'headers/header_datatables.html' %} <!-- adding datatables -->

{% include 'headers/header_end.html' %} <!-- MUST -->

<script>
var DATA = {{ COPY.data.json() }};
var LIST = {{ COPY.list.json() }};

$(document).ready(function() {

  var dtable = $('#gfx').DataTable( {
    responsive: true,
    "order": [[ 0, "asc" ]],
    "iDisplayLength": 10
  });

  dtable.on('page.dt', function() {
    $('html, body').animate({
      scrollTop: $(".dataTables_wrapper").offset().top
    }, 'slow');
    $('thead tr th:first-child').focus().blur();
  });
});

</script>

<style type="text/css">
.graphic { height:350px }

.list-group-item {
    padding: 5px 15px;
  }

div.mhbar {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid;
  opacity: 0.8;
}
.FIRST {
  background-color: #0067AC;
}
.SECOND {
  background-color: #67B4A5;
}
.THIRD {
  background-color: #EBAB38;
}
.FOURTH {
  background-color: #9D85BE;
}
.FIFTH {
  background-color: #AE1B1F;
}
</style>

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}</p>
    <ul>
      {% if COPY.info.estab %}<li><strong>Established:</strong> {{ render(COPY.info.estab)|smarty }}{% endif %}</li>
      {% if COPY.info.locate %}<li><strong>Locations:</strong> {{ render(COPY.info.locate)|smarty }}{% endif %}</li>
      {% if COPY.info.fte %}<li><strong>Total employee and contractor FTEs:</strong> {{ render(COPY.info.fte)|smarty }}{% endif %}</li>
      {% if COPY.info.aid %}<li><strong>Acute inpatient discharges:</strong> {{ render(COPY.info.aid)|smarty }}{% endif %}</li>
    </ul>
    <hr>
    <h4><strong>Range of total profit(loss) margins</strong></h4>
    <p>High, low and median margins are calculated using cost reports from <a href="https://metrics.modernhealthcare.com/" target="_blank">Modern Healthcare Metrics</a>.</p>
    <small><ul class="list-group">
      <li class="list-group-item"><div class="mhbar SECOND"></div> The green bar shows the highest margin out of the cost reports associated with the system each year.</li>
      <li class="list-group-item"><div class="mhbar THIRD"></div> The orange bar shows the lowest.</li>
      <li class="list-group-item"><div class="mhbar FIFTH"></div> The red line at the point the two bars meet shows the median margin.</li>
      <li class="list-group-item"><div class="mhbar FIRST"></div> The blue line shows <i>total profit(loss) margin</i> for the entire system from <a href = "https://www.modernhealthcare.com/data-lists/health-system-financials-annual?appSession=45KB26OH3V85P5M8FE121515126GM7AGQY0RZ74Z1FNM12U2Y6V0852H61HXQ9942R61AV14KYTZ9TVJF2Y099J8XXLTNXI40PQ2128D27HWM8ZCV65W922K5WVEV43Y" target="_blank">Modern Healthcare databases</a>.</li>
    </ul></small>
    <p><small><i>Example:</i> In {{ COPY.data[0].fyear }}, there were {{ COPY.data[0].reports }} cost reports covering {{ COPY.data[0].prov_type }} hospitals in the system. The lowest reported margin was {{ COPY.data[0].low }}%, the highest was {{ COPY.data[0].high }}%. Median total margin for the {{ COPY.data[0].reports }} reports was {{ COPY.data[0].median }}%. Total profit(loss) margin for the entire system in {{ COPY.data[0].fyear }} was {{ COPY.data[0].sys }}%.<br>
    <strong><span style="color:red">Click</span> or <span style="color:red">touch</span> to see more.</strong></small></p>

    <div id="graphic" class="graphic">
            <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    <hr>
    <h4><strong>Facilities</strong><br><small>List of facilities associated with Sutter Health at anytime between 2012 to 2018</small></h4>
    <br>
    <table id="gfx" class="table table-hover table-striped table-condensed display responsive" width="100%" >
      <thead>
        <th class="thLEFT" data-priority='1'>Facility</th>
        <th data-priority='4'>City, State</th>
        <th data-priority='2'>Type</th>
        <th data-priority='3'>Latest FY<br>available*</th>
      </thead>
      <tbody>

          {% for row in COPY.list %}
          <tr><td class="tdLEFT"><a href="https://metrics.modernhealthcare.com/hospital/summary/{{ row.cms_id }}" target="_blank"><strong>{{ row.facility }}</strong><br><small>(Click for more)</small></a>
          <td>{{ row.city }}, {{ row.state }}</td>
          <td>{{ row.prov_type }}</td>
          <td>{{ row.fyear }}</td></tr>
          {% endfor %}
      </tbody></table>

          {% if COPY.labels.footnote %}
          <div class="footnotes">
              <h4><small><strong>Notes</strong></small></h4>
              <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
          </div>
          {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
        {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
    </div>


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            <br>
            {% include 'footers/footer_gfx.html' %}

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.push('js/chart.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
