{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Graphics base
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_charts.html' %} <!-- adding highcharts -->

{% include 'headers/header_end.html' %} <!-- MUST -->

<script>
  var DATA = {{ COPY.data.json() }};
  var DATA2 = {{ COPY.data2.json() }};
</script>

<style type="text/css">
.graphic { height:400px }
</style>

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}
    <small>The chart below is interactive: <span style="color:red">click</span> or <span style="color:red">touch</span> to see more.</small></p>
    <h4><strong>By occupation</strong></h4>
    <div id="graphic" class="graphic">
            <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>
    <br><h4><strong>By setting</strong></h4>
    <div id="graphic2" class="graphic">
            <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4><small><strong>Notes</strong></small></h4>
        <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
        {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
    </div>


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            <br>
            {% include 'footers/footer_gfx.html' %}

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.push('js/chart.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
