{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Graphics base
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_datatables.html' %} <!-- adding datatables -->

{% include 'headers/header_end.html' %} <!-- MUST -->

<script>
var DATA = {{ COPY.data.json() }};

$(document).ready(function() {

  var dtable = $('#gfx').DataTable( {
    responsive: true,
    "order": [[ 2, "desc" ]],
    "iDisplayLength": 10
  });

  dtable.on('page.dt', function() {
    $('html, body').animate({
      scrollTop: $(".dataTables_wrapper").offset().top
    }, 'slow');
    $('thead tr th:first-child').focus().blur();
  });
});

</script>

<style type="text/css">
.graphic { height:350px }
</style>
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12">
    -->

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}<br>
    <small><strong>The list below is interactive: <span style="color:red">Sort</span> by clicking on the column headings, or <span style="color:red">look for a specific drug or manufacturer</span> using the search box. You can also <span style="color:red">choose to view</span> more at a time with the "Show entries" box.</strong></small></p>

    <table id="gfx" class="table table-hover table-striped table-condensed display responsive" width="100%" >
      <thead>
        <th class="thLEFT" data-priority='1'>Drug, <small>details</small></th>
        <th data-priority='6'><small>Manufacturer</small></th>
        <th data-priority='2'>Latest price</th>
        <th data-priority='4'>Change*</th>
        <th data-priority='3'>% change*</th>
      </thead>
      <tbody>

        {% for row in COPY.data %}
        <tr>
            <td class="tdLEFT">{{ row.drug_name }}<br><small>{{ row.drug_info }}</small></td>
            <td><small>{{ row.man_name }}</small></td>
            <td>${{ row.latest_price }}</td>
            <td>${{ row.earliest_v_latest }}</td>
            <td>{{ row.earliest_v_latest_percchg }}%</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</p>

{% if COPY.labels.footnote %}
<div class="footnotes">
    <h4><small><strong>Notes</strong></small></h4>
    <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
</div>
{% endif %}

<div class="footer">
    {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
    {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
</div>


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            <br>
            {% include 'footers/footer_gfx.html' %}
            <!--</div>
          </div>
        </div>-->

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
