{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Graphics base
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_datatables.html' %} <!-- adding datatables -->

{% include 'headers/header_end.html' %} <!-- MUST -->

<script>
var DATA = {{ COPY.data.json() }};

</script>

<style type="text/css">
.graphic { height:350px }
</style>

  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12">-->

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}</p>

    <table id="gfx" class="table table-hover table-striped table-condensed display" width="100%" >
      <thead>
        <th class="thLEFT">Drug<br><small>Manufacturer</small></th>
        <th>Latest price</th>
        <th>Change</th>
      </thead>
      <tbody>

        {% for row in COPY.data %}
        <tr>
            <td class="tdLEFT" colspan="3"><strong>{{ row.drug_name }}</strong> <small>{{ row.drug_info }}</small></td>
        </tr>
        <tr>
            <td class="tdLEFT"><small>{{ row.man_name }}</small></td>
            <td>${{ row.latest_price }}</td>
            <td>${{ row.earliest_v_latest }}<br><small>or +{{ row.earliest_v_latest_percchg }}% since {{ row.earliest_year }}</small></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</p>

{% if COPY.labels.footnote %}
<div class="footnotes">
    <h4><small><strong>* Notes</strong></small></h4>
    <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
</div>
{% endif %}

<div class="footer">
    {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
    {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
</div>


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            <br>
            {% include 'footers/footer_gfx.html' %}
            <!--</div>
          </div>
        </div>-->

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
