{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Top tech hazard
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_charts.html' %} <!-- adding highcharts -->


{% include 'headers/header_end.html' %} <!-- MUST -->


<script>
var DATA = {{ COPY.data.json() }};
var LIST = {{ COPY.toplist.json() }};

</script>

<style type="text/css">
.graphic { height:325px }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12">

    {% if COPY.labels.headline %}<h2><strong>{{ COPY.labels.headline|smarty }}</strong></h2>{% endif %}
    <p>{% if COPY.labels.subhed %}{{ render(COPY.labels.subhed)|smarty }}{% endif %}<br>
    <strong>The chart below is interactive: <span style="color:red">click</span> or <span style="color:red">touch</span> to see more.</strong></p>

    <div id="graphic" class="graphic">
            <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>
<br>
<p>{% if COPY.labels.list_intro %}{{ render(COPY.labels.list_intro)|smarty }}{% endif %}<br></p>

<table id="gfx" class="table" width="100%" >
  <tbody>

    {% for row in COPY.toplist %}
    <tr><td class="tdLEFT">
        <ul>
          <li><strong>{{ row.name }}</strong>, a {{ row.type }} in {{ row.state }}. <strong>{{ row.number }} records were breached</strong> in {{ row.year }}, via {{ row.breach }}. {% if row.where %} <strong>What was breached:</strong> {{ row.where }}{% endif %}</li>
      </ul>
    </td></tr>
    {% endfor %}
</tbody></table>
</p>

{% if COPY.labels.footnote %}
<div class="footnotes">
    <h4><small><strong>Notes</strong></small></h4>
    <p class="gfxcredit">{{ COPY.labels.footnote|smarty }}</p>
</div>
{% endif %}

<div class="footer">
    {% if COPY.labels.source %}<p class="gfxcredit"><i>Source: {{ COPY.labels.source|smarty }}</i></p>{% endif %}
    {% if COPY.labels.credit %}<p class="credit"><small>{{ COPY.labels.credit|smarty }}</small></p>{% endif %}
</div>


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            <br>
            {% include 'footers/footer_gfx.html' %}
          </div>
        </div>
      </div>

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.push('js/chart.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
