{% extends 'crains_template.html' %}


{% block content %}
<!DOCTYPE HTML>
{% include 'headers/meta.html' %}

<title>
    Graphics base
</title>

<!-- **************************** -->
<!-- *** importing libs **** **** -->
{% include 'headers/header_begin.html' %} <!-- MUST -->

<!-- *** these MUST be in this order **** **** -->
{% include 'headers/header_charts.html' %} <!-- adding highcharts -->

{% include 'headers/header_end.html' %} <!-- MUST -->


<style type="text/css">

h3.ex1 {
  padding-bottom: 10px;
}

.graphic { height:350px }
</style>

    <h3 class="ex1" id="systems"><strong>Health systems</strong></h3>
    {% for row in COPY.health_form %}
      <h4><strong>{{ row.company }}</strong> | {{ row.headquarters }}<br><small><small>Added: {{ row.Timestamp }} </small></small></h4>
      <p><small><span style="color:red"><strong>THE NUMBERS</strong></span></small><br>
        <table id="gfx" class="table table-hover table-striped table-condensed" width="100%" >
          <thead><th></th><th class="thRIGHT">Amount</th><th class="thRIGHT">Change</th></thead>
          <tbody>
            <tr><td colspan="1" class="tdLEFT">Revenue</td><td class="tdRIGHT"><strong>{{ row.revenue }}</strong></td><td>{{ row.revenue_chg }}</td></tr>
            <tr><td colspan="1" class="tdLEFT">Expenses</td><td class="tdRIGHT"><strong>{{ row.expenses }}</strong></td><td>{{ row.expenses_chg }}</td></tr>
            <tr><td colspan="1" class="tdLEFT">Operating profit</td><td class="tdRIGHT"><strong>{{ row.operating_profit }}</strong></td><td>{{ row.operating_profit_chg }}</td></tr>
            <tr><td colspan="1" class="tdLEFT">Profit margin</td><td class="tdRIGHT"><strong>{{ row.profit_margin }}</strong></td><td>{{ row.profit_margin_chg }}</td></tr>
            <tr><td colspan="1" class="tdLEFT">Admissions</td><td class="tdRIGHT"><strong>{{ row.admissions }}</strong></td><td>{{ row.admissions_chg }}</td></tr>
          </tbody>
        </table></p>
        <p><small><span style="color:red"><strong>TAKEAWAY</strong></span></small><br>
          {{ row.takeaway }}</p>
        <hr class="mhchaps">
    {% endfor %}


    <!-- **************************** -->
    <!-- *** Embedded gfx footer **** -->
            {% include 'footers/footer_gfx.html' %}
            <!--</div>
          </div>
        </div>-->

{% endblock content %}



{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
